body {
  background: rgb(113, 96, 114);
}

.row {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30em;
    height: 30em;
}

#plusPom {
  position: absolute;
  top: 3.1em;
  left: -1em;
}

#minusPom {
  position: absolute;
  top: 3.1em;
  right: 3.8em;
}

#plusPause {
  position: absolute;
  top: 10em;
  left: 5.5em;
}

#minusPause {
  position: absolute;
  top: 10em;
  right: 12.3em;
}

#title {
  position: absolute;
  top: -2.1em;
  left: 1.2em;
  font-weight: bold
}

#pause {
  position: absolute;
  top: 4.2em;
  left: 4em;
  font-weight: bold
}

#about {
  position: absolute;
  top: -3.3em;
  left: -0.2em;
}